<h1>Listing trainings</h1>



<div id="wrap">

  <p id="wrap-span">
    Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
  </p>
  <hr />

  <div id="paginacao"> <%= page_entries_info @trainings %> <br /> <br /><%= will_paginate @trainings %> </div>
  <div id="listagem">
     <ul>
      <% if @trainings.present? %>
        <% @trainings.each do |training| %>
          <li>
              <div id="listagem-img"></div>
              <div id="listagem-text">
                <div id="listagem-link">
                  <p><%= link_to 'ver detalhes', training_path(training) %></p>
                </div>
                <div >
                  <p>Nome: <%= training.name %></p>

                </div>

                <div class="left-text">
                  <p>Data: <%= training.date %></p>
                  <p>Carga horaria: <%= training.study_load %> horas</p>
                </div>
                <div class="left-text">
                    <% @id = training.instructor.id %>
                  <p>Preço: R$<%= training.price %></p>
                  <p>Instrutor: <%= link_to "#{training.instructor.name.titleize}", instructor_path(@id) %></p>
                </div>

              </div>
          </li>
          <hr/>
        <% end %>
     <% else %>
          <li>Listagem de professores vazia !</li>
     <% end %>
    </ul>
  </div>
<div id="paginacao"> <%= page_entries_info @trainings %> <br /> <br /><%= will_paginate @trainings %> </div>


</div>




<br />

