<h1>Bem-vindo , ao painel Administrativo</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<br />
<br />
<br />

<h1>Listing instructors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th></th>

  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= instructor.name %></td>
    <td><%= instructor.age %></td>
    <td><%= link_to 'Show', admin_instructor_path(instructor) %></td>

<% end %>

</table>

<br />
<br />

<h1>Listing trainings open</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Price</th>
    <th>Instructor</th>
    <th></th>
  </tr>

<% @training_open.each do |training| %>
  <tr>
    <td><%= training.name %></td>
    <td><%= training.date %></td>
    <td><%= training.price %></td>
    <td><%= training.instructor.name %></td>
    <td><%= link_to 'Show', admin_training_path(training) %></td>
  </tr>
<% end %>
</table>


<br />
<br />

<h1>Listing trainings closed</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Price</th>
    <th>Instructor</th>
    <th></th>

  </tr>

<% @training_closed.each do |training| %>
  <tr>
    <td><%= training.name %></td>
    <td><%= training.date %></td>
    <td><%= training.price %></td>
    <td><%= training.instructor.name %></td>
    <td><%= link_to 'Show', admin_training_path(training) %></td>

  </tr>
<% end %>
</table>


<br />
<br />

<% if @users.present? %>

  <%= render 'users', :remote => true %>

<% end %>
<br />

  <span align="center"><%= will_paginate @users, :remote => true %></span>

