<h1>Listing instructors</h1>


<div id="wrap">

  <p id="wrap-span">
    Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
  </p>
  <hr />

  <div id="paginacao"> <%= page_entries_info @instructors %> <br /> <br /><%= will_paginate @instructors %> </div>
  <div id="listagem">
     <ul>
      <% if @instructors.present? %>
        <% @instructors.each do |instructor| %>
          <li>
              <div id="listagem-img"></div>
              <div id="listagem-text">
                <div id="listagem-link">
                  <p><%= link_to 'ver detalhes', instructor_path(instructor) %></p>
                </div>
                <div>
                  <p>Nome: <%= instructor.name %></p>
                  <p>Idade: <%= instructor.age %></p>
                </div>

              </div>
          </li>
          <hr/>
        <% end %>
     <% else %>
          <li>Listagem de professores vazia !</li>
     <% end %>
    </ul>
  </div>
<div id="paginacao"> <%= page_entries_info @instructors %> <br /> <br /><%= will_paginate @instructors %> </div>


</div>

<br />

