


<div id="wrap">

  <p id="wrap-span">
    Donec lorem nunc, condimentum ut blandit sit amet, fringilla at tortor. Donec sem neque, commodo ac dapibus id, viverra sed ante. Proin velit sem, laoreet vitae ultricies in, lacinia in arcu. Curabitur sagittis orci eget risus sagittis pulvinar. Mauris facilisis congue porta.
  </p>
  <hr />

  <div id="conteudo-show">
    <div class="bar-left">
      <div class="conteudo-foto"></div>
      <div class="conteudo-sidebars">
        <h3>Dados de Contato</h3>
        <hr />
        <p> <b>Tel:</b> 0000-0000 </p>
        <p> <b>Cel:</b> 0000-0000 </p>
        <p> <b>Email:</b> email@gmail.com  </p>
      </div>

    </div>

    <div class="bar-center">
      <div class="conteudo-sidebars-center">
        <p> <b>Name:</b> <%= @instructor.name %> </p>
        <p> <b>Idade:</b> <%= @instructor.age %> </p>
        <p> <b>Experiencia:</b></p>
        <p> <%=  simple_format(@instructor.experience) %> </p>
      </div>
      <hr />
      <div class="conteudo-sidebars-center">
        <p> <b>Minhas qualificações: </b></p>
        <p> <%=  simple_format(@instructor.qualifications) %> </p>
      </div>
      <hr />
      <div class="conteudo-sidebars-center">
        <p> <b>Meus Hobbies: </b></p>
        <p> <%=  simple_format(@instructor.hobbies) %> </p>
      </div>

    </div>

    <div class="bar-right">
      <div class="conteudo-sidebars">
        <h3>Curso com este professor</h3>
        <hr />
        <% @instructor.trainings.each do |training | %>
          <p> <b>Name:</b> <%= link_to "Curso - #{training.date}", admin_training_path(training) %> </p>
        <% end %>
      </div>
    </div>
  <div>

</div>

<br />


<div class="clear"></div>
<br />
<br />
<br />




<%= link_to 'Edit', edit_admin_instructor_path(@instructor) %> |
<%= link_to 'Back', admin_instructors_path %>

