<h1>Listing trainings</h1>



<br />


<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Rascunho?</th>
    <th>Instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trainings.each do |training| %>
  <tr>
    <td><%= training.name %></td>
    <td><%= training.date %></td>
    <td><%= training.closed %></td>
    <td><%= training.instructor.name %></td>
    <td><%= link_to 'Show', admin_training_path(training) %></td>
    <td><%= link_to 'Edit', edit_admin_training_path(training) %></td>
    <td><%= link_to 'Destroy', admin_training_path(training), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Training', new_admin_training_path %>

