<!DOCTYPE html>
<html>
<head>
  <title>Curso | Levando conhecimento até você </title>
  <%= stylesheet_link_tag 'style', 'form' , 'pages'%>
  <%= javascript_include_tag 'jquery','jquery.min','jquery_ujs' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
	<div id="logo">
		<h1>Curso</h1>
		<p><em>Levando o onhecimento</em></p>

		<div id="menu-topo">

      <% if user_signed_in?  %>
        <p> <em><b><%= link_to 'Index', root_path %></b></em> | <em><b><%= link_to 'Edit', edit_user_registration_path  %></b></em> | <em><b><%= link_to('Logout', destroy_user_session_path, :method => 'delete') %> </b></em></p>

      <% else %>
        <p> <em><b><%= link_to 'Index', root_path %></b></em> | <em><b><%= link_to 'Cadastro', new_user_registration_path  %></b></em> | <em><b><%= link_to('Login', new_user_session_path ) %> </b></em></p>
      <% end %>

	  </div>
	</div>

	<!-- end #logo -->

  <div id="central">
	    <div id="page-a">
		    <div id="page-bgtop-a">

			    <div id="content-a">
				    <h3>Navegação</h3>
				    <p><%= link_to 'informaçoes pessoais', edit_user_registration_path %></p>
				    <hr />
				    <p><%= link_to 'Home', root_path %></p>
				    <p><%= link_to 'Localização', pages_localizacao_path %></p>
				    <p><%= link_to 'Professores', instructors_path %></p>
				    <p><%= link_to 'Treinamentos', trainings_path %></p>
				    <p><%= link_to 'Contato', new_inquiry_path %></p>
			    </div>
			    <!-- end #content -->
			    <div style="clear: both;">&nbsp;</div>
		    </div>
	    </div>
	    <div id="page">
		    <div id="page-bgtop">

			    <div id="content">
				    <p style="color: green"><%= flash[:notice] %></p>
				    <%= yield %>
			    </div>
			    <!-- end #content -->
			    <div style="clear: both;">&nbsp;</div>
		    </div>
	    </div>
	 <div>
	<!-- end #page -->
	<div id="footer">
		<p> <em> <%= link_to 'Admin', new_admin_session_path, :rel => "nofollow" %> </em> | Copyright &copy; . Design por <a href="http://www.meusite.com.br/">Meu Site</a>.</p>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>

